@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

//media query manager
/*
0-600px:phone
600-900px:tablet phone
900-1200px: tablet landscape
1200-1800: is where our normal styles apply
1800+ : Big Desktop


*/

/* break point argument choices
-small phone 320-600px
-phone 600px
-tab-port 900px
-tab-land 1200px
-big-desktop 1800px
*/
/* @mixin respond-phone {
  @media (max-width: 600px) {
    @content;
  }
} */

//conversion to ems

@mixin button-primary($main-color, $background-color) {
  color: $main-color;
  background-color: $background-color;
  &::after {
    background-color: $background-color;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@mixin button-styles($color-light, $color-dark) {
  color: white;
  background: linear-gradient(to right bottom, $color-light, $color-dark);
  &::after {
    background: linear-gradient(to right bottom, $color-light, $color-dark);
    position: absolute;
    top: 0;
    left: 0;
  }
}

@mixin card-text-styles($color-text) {
  font-weight: 600;
  font-size: 1.6rem;
  transform: skewX(12deg);
  color: $color-text;
}

@mixin respond($breakpoint) {
  @if $breakpoint == small-phone {
    @media (max-width: 25em) {
      @content;
    }
  }
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
