//COLORS
$color-grey-dark: #525e68;
$color-grey-light: #dfddd7;
$color-white: #fff;
$primary-forest-blue-light: #d2eff9;
$primary-forest-blue: #116f8b;
$secondary-forest-blue: #5eccee;
$color-black: #000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-red: #d72323;

//GRID

$grid-width: 112rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//Small Grid
$grid-width-small: 38rem;
$grid-width-extraSmall: 30rem;
$grid-width-extraSmallMobile: 25rem;

//FONT-SIZES

$default-font-size: 1.6rem;
