.header {
  background-image: linear-gradient(to bottom, rgba(83, 81, 81, 0.323), rgba(70, 69, 69, 0.12)),
    url(../../img/hero.jpg);
  @include respond(small-phone) {
    height: 100vh;
  }

  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  @include respond(small-phone) {
    clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
  }

  &__logo-box {
    padding: 3rem 0 0 3rem;
  }

  &__title-box {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include respond(small-phone) {
      height: 48%;
    }
  }

  &__title-box > * {
    display: block;
    color: $color-white;
    text-transform: uppercase;
    @include respond(phone) {
      text-align: center;
    }
  }
  &__title-main {
    letter-spacing: 3.5rem;
    font-weight: 500;
    font-size: 6rem;
    animation: moveInLeft 2s ease-in-out;
    @include respond(phone) {
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }
  &__title-sub {
    letter-spacing: 2.2rem;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 5rem;
    animation: moveInRight 2s ease-in-out;

    @include respond(phone) {
      font-size: 1.5rem;
      letter-spacing: 1rem;
    }
  }
}
