.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all 20ms;
    display: inline-block;
    font-size: $default-font-size;
    position: relative;
    font-weight: 400;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    &::after {
      transform: scaleX(1.2) scaleY(1.2);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }

  &::after {
    content: " ";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -1;
    transition: all 0.4s;
  }

  &-aqua {
    @include button-primary($color-white, $primary-forest-blue);
  }
  &-orange {
    @include button-styles($color-secondary-light, $color-secondary-dark);
  }

  &-purple {
    @include button-styles($color-tertiary-light, $color-tertiary-dark);
  }
  &-sky {
    @include button-styles($primary-forest-blue, $secondary-forest-blue);
  }

  &-white {
    @include button-primary($color-grey-dark, $color-white);
  }
  &-text {
    font-weight: 600;
    font-size: 1.8rem;
  }
}
