.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;

  &__details {
    color: grey;
    font-size: 1.6rem;
    padding: 1.5rem;
    font-weight: 600;
    & ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      gap: 0.2rem;
      text-align: center;

      li:not(:last-child) {
        padding: 1rem;
        border-bottom: 0.2px rgb(238, 238, 238) solid;
        width: 60%;
      }

      &:first-of-type li {
        margin-top: 2rem;
      }
    }
  }

  &__side {
    height: 60rem;
    transition: all 0.8s ease-in-out;
    color: black;
    font-size: 2rem;
    border-radius: 3px;

    &--front {
      background-color: $color-white;
      overflow: hidden;
      position: relative;
      text-align: center;
      &::after {
        content: "297$";
        position: absolute;
        top: 1rem;
        right: -4rem;
        color: $color-white;
        text-transform: uppercase;
        background-color: $color-white;
        font-size: 2rem;
        font-weight: 600;
        background-color: #5a8cff;
        transform: rotate(30deg);
        /*         width: 10rem; */
        padding: 0rem 6rem;
      }

      &--explorer::after {
        background: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }
      &--hiker::after {
        background: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }
      &--snow::after {
        background: linear-gradient(to right bottom, $primary-forest-blue, $secondary-forest-blue);
      }
    }
    &--back {
      transform: rotateY(180deg);
      position: absolute;
      width: 100%;
      top: 0;
      backface-visibility: hidden;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      &--1 {
        background: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }
      &--2 {
        background: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }
      &--3 {
        background: linear-gradient(to right bottom, $primary-forest-blue, $secondary-forest-blue);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }
  &__picture {
    background-size: cover;
    height: 20rem;
    background-position: center;

    &--1 {
      background-image: url(../../img/nat-5.jpg);
    }
    &--2 {
      background-image: url(../../img/nat-6.jpg);
    }
    &--3 {
      background-image: url(../../img/nat-7.jpg);
    }
  }
  &__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    text-align: center;
    color: white;
    &--details {
      margin-bottom: 2rem;
      margin-top: 4rem;
    }
    &--price {
      font-size: 7rem;
      font-weight: 200;
    }
  }
}
