.composition {
  position: relative;
  @include respond(tab-port) {
    display: flex;
  }

  &__photo {
    width: 55%;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    @include respond(tab-port) {
      position: relative;
      width: 33.333%;
    }

    &--1 {
      left: 0;
      top: -0.5rem;
      @include respond(tab-port) {
        left: 0;
        top: 0;
      }
    }
    &--2 {
      top: 2rem;
      right: 0;
      @include respond(tab-port) {
        left: 0;
        top: 0;
        transform: scale(1.2) translateY(-1rem);
        z-index: 200;
      }
    }

    &--3 {
      top: 16rem;
      right: 30%;
      @include respond(tab-port) {
        left: 0;
        top: 0;
      }
    }
    &:hover {
      transform: scale(1.05);
      z-index: 20;
      transform: translateY(-2rem);
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
