.feature-box {
  background-color: rgba($color-white, 0.8);
  padding: 2rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  border-radius: 3px;
  @include respond(tab-port) {
    padding: 1.5rem;
  }
  svg {
    height: 6rem;
    width: 6rem;
    stroke-width: 0.7;
  }

  p {
    line-height: 1.8;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__icon {
    width: 8rem;
    height: 8rem;
    display: inline-block;
    stroke: $primary-forest-blue;
  }
  &__text {
  }
}
