.modal {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* 50% opacity black */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8000;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.2);
  transition: all 0.5s ease-in-out;

  &__container {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    background-color: white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  &__img {
    display: block;
    width: 100%;
  }
  &__left {
    width: 33.3333%;
  }
  &__right {
    width: 66.6666%;
    padding: 3rem 5rem;
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem; //1em 14px font size of current element
    column-rule: 1px solid $color-grey-light;
    hyphens: auto;
  }
  &__close {
    height: 2.4rem;
    position: absolute;
    top: 3rem;
    right: 4rem;
    &:hover {
      color: $color-red;
    }
  }
}
