*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;

  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  /*   @include respond(phone) {
    font-size: 40%;
  } */
  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", sans-serif;
  padding: 3rem;
  color: $color-grey-dark;
  @include respond(tab-port) {
    padding: 0;
  }
}

img,
picture,
video,
canvas,
svg {
  /* display: block;
  width: 100%; */
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}
